@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;

}

:root{

    --primary-color: #2f2f2f;
    --secondary-color: #F3F2EC;
    --accent-color-1: #daa556;
    --accent-color-2: #afafaf;
    --text-color-1: #555;
    --text-color-2: #F3F2EC;
    --error-color: red;

}

.dark_color{

    --primary-color: #555;
    --secondary-color: #2f2f2f;
    --accent-color-1: #D74E09;
    --accent-color-2: #afafaf;
    --text-color: #F3F2EC;

}

body{

    width: 100%;
    background-color: var(--secondary-color);

}